<div class="d-flex justify-content-center align-items-center flex-column">

    <h1> Login </h1>
    <p><b>Name:</b> {{person.name}}</p>
    <p><b>Job code:</b> {{person.jobcode}}</p>
    <!-- <img src={{person.image_crop}} class="rounded mx-auto d-block mb-3" style="max-width: 300px;" #personimg> -->
    <img crossorigin="anonymous" src={{person.image_crop}} #personimg>
  

    <video crossorigin="anonymous" autoplay playsinline muted id="webcam" width="300" height="300" #video></video>
  
    <div *ngIf="loading">
      <img src="./assets/loading.gif">
    </div>
  
    <div class="list-group">
      {{predictions}}
      <!-- <div class="list-group-item" *ngFor="let prediction of predictions">
        {{prediction.className}} - {{prediction.probability}}
      </div> -->
    </div>
    <div class="align-middle">
      <!-- <button class="btn btn-success mt-3">Success</button>
      <button class="btn btn-danger mt-3">Login error</button> -->

      <button *ngIf="checkdoor==='true'" class="btn btn-success mt-3">Success</button>
      <button *ngIf="checkdoor==='false'" class="btn btn-danger mt-3">Login error</button>
  
    </div>
  </div>