<h1>PUT UR FACE HERE BOI</h1>
<div>
  <div *ngIf="response && imageURL">
    <img [src]='imageURL' />
  </div>

  

  
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="submit">Upload to server</button>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile03" name="profile" (change)="onChange($event)">
        <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
    </div>
    </div>
</form>
</div>

