
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
       <nav>
        <a routerlink="person" class="btn btn-primary active" role="button" routerlinkactive="active">persons</a>
        <a routerlink="add" class="btn btn-primary active" role="button" routerlinkactive="active">Add</a>
        <a routerlink="findbyage" class="btn btn-primary active" role="button" routerlinkactive="active">Search</a>
      </nav>
    </div>
  </div>
</div>
